/*
Theme Name: foncia
Theme URI: http://rsn.org.ua/
Description: foncia wp theme
Author: rsn
Version: 0.1
Template: twentyeleven
*/

/*@import url("../twentyeleven/style.css");*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: transparent;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*my styles*/
sup { vertical-align: text-top; font-size: xx-small; }
ul{margin:0; padding:0;}
body{font-size: 12px; padding-top:33px; padding-bottom:65px; font-family:'Source Sans Pro', sans-serif; font-weight:400;}
p{line-height:1.45em; font-size: 12px;}
strong{font-weight:700;}
i{font-style:italic;}
.left{float:left;}
.right{float:right;}

.wrapper{width:877px; min-height:800px; margin:0 auto; border:0px solid black; position:relative;}
.language-switcher{position:absolute; left:-29px; top:14px; width:60px; /*height:91px;*/ border:0px solid black;}
.language-switcher li{/*width:30px; height:27px;*/ margin-top:5px;}
.language-switcher li:first-child{margin-top:0;}
.language-switcher a{display:block; padding:6px 0 6px 8px; font-size:13px;}
.language-switcher a:link, .language-switcher a:active, .language-switcher a:hover, .language-switcher a:visited{color:#fff; text-decoration:none;}

.french, .german, .english, .qtrans_language_chooser li{border-radius: 4px 0 0 4px;}
.french, .qtrans_language_chooser li:first-child{background: #b1c1e1; /* Old browsers */
background: -moz-linear-gradient(left,  #b1c1e1 0%, #0063a6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b1c1e1), color-stop(100%,#0063a6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #b1c1e1 0%,#0063a6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #b1c1e1 0%,#0063a6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #b1c1e1 0%,#0063a6 100%); /* IE10+ */
background: linear-gradient(to right,  #b1c1e1 0%,#0063a6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1c1e1', endColorstr='#0063a6',GradientType=1 ); /* IE6-9 */
}
.german, .qtrans_language_chooser li:first-child+li{background: #b9b4b3; /* Old browsers */
background: -moz-linear-gradient(left,  #b9b4b3 0%, #1e1d1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b9b4b3), color-stop(100%,#1e1d1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #b9b4b3 0%,#1e1d1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #b9b4b3 0%,#1e1d1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #b9b4b3 0%,#1e1d1c 100%); /* IE10+ */
background: linear-gradient(to right,  #b9b4b3 0%,#1e1d1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b4b3', endColorstr='#1e1d1c',GradientType=1 ); /* IE6-9 */
}
.english, .qtrans_language_chooser li:first-child+li+li{background: #e9b5c3; /* Old browsers */
background: -moz-linear-gradient(left,  #e9b5c3 0%, #b01c45 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e9b5c3), color-stop(100%,#b01c45)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e9b5c3 0%,#b01c45 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e9b5c3 0%,#b01c45 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e9b5c3 0%,#b01c45 100%); /* IE10+ */
background: linear-gradient(to right,  #e9b5c3 0%,#b01c45 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9b5c3', endColorstr='#b01c45',GradientType=1 ); /* IE6-9 */
}

header{width:815px; height:200px; margin:0 auto; background-color:; position:relative; overflow:hidden; box-shadow: 2px 4px 5px rgba(0,0,0,0.4);}
.logo-container{width:402px; height:200px; background-color:#fff; float:left;}
.right-container{width:413px; height:200px; float:right;}
.secondary_menu .right-container{ background-color: #fff; }
.right-upper-top{width:413px; height:126px; background-image:url(images/header_bg.png); background-repeat:no-repeat; background-position:right top; background-color:#fff;}
.right-upper-bottom{width:413px; height:48px; background-color:#fff;}

#logo{position:absolute; left:85px; top:14px;}

.secondary_menu .main-nav { display: none; }
.main-nav{width:413px; height:26px; overflow:hidden; border: 0px solid black; background-image:url(images/white_stripe.png); background-repeat:repeat-x;}
.main-nav li{float:left; display:inline-block; height:26px; margin-left:8px;}
.current-menu-item, .current-page-ancestor{background-image:url(images/current_page_marker.png); background-repeat:no-repeat; background-position:center bottom;}
.main-nav li:first-child{margin-left:0;}
.main-nav a:link, .main-nav a:hover, .main-nav a:active, .main-nav a:visited{color:#c99e64; text-transform: uppercase; text-decoration: none;}
.current-menu-item a:link, .current-menu-item a:hover, .current-menu-item a:active, .current-menu-item a:visited{text-decoration:underline;}
.current-page-ancestor a:link, .current-page-ancestor a:hover, .current-page-ancestor a:active, .current-page-ancestor a:visited{text-decoration:underline;}

.footer-nav{float:right; margin-top:0px; color:#d2b081; border:0px solid black; width: 480px;}
.footer-nav a:link, .footer-nav a:hover, .footer-nav a:active, .footer-nav a:visited{font-size:12px; color:#d2b081; text-transform: uppercase; text-decoration: none;}
.footer-nav a{margin-right:5px;}
.footer-nav li:last-child a{margin-right:0px;}
.footer-nav li{float:left; display:inline-block; margin-left:5px;}

.slideshow-container, .slideshow-container-home{width:815px; margin:11px auto 0 auto; overflow:hidden; position:relative; z-index:1; box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);}
.slideshow-container{height:235px;}
.slideshow-container-home{height:423px;}
.slideshow li{width:815px; height:235px;}
.slideshow-container-home .slideshow li{height:423px;}
.slideshow-container .splash, .slideshow-container-home .splash { position: absolute; right: 0; top: 0; width: 388px; height: 287px; z-index: 10; }

.nav-container{width: 815px; height:9px; border:0px solid black; position:absolute; bottom:9px; z-index:200; text-align:center;}
#nav {display:inline-block; margin:0 auto; overflow:hidden; zoom: 1; *display: inline; }
#nav a { width: 9px; height:9px; margin-left:8px; padding: 0px; display: block; background-image: url(images/slmarker.png); background-repeat:no-repeat; font-size:0px; float:left; border:0px solid #fff;}
#nav a:first-child{margin-left:0;}
#nav .activeSlide { background-image: url(images/active_slmarker.png); background-repeat:no-repeat;}

.content-wrapper{width:815px; margin:11px auto 0 auto; background-color:#fff; padding-top:20px; padding-bottom:16px;}
.content-wrapper a{text-decoration: none; color: #006633; }
.content-wrapper a:hover {text-decoration: underline;}
.one-column{min-height:492px; min-height:743px; position:relative;}
.column-left{width:408px; min-height:492px; float:left; padding-bottom:36px; position:relative;}
.column-right{width:407px; min-height:492px; margin-left:408px;}
.content-wrapper p{padding-left:39px; padding-top:10px;}
.contact-us{color:#07642b; width:340px;}
.contact-us a:link, .contact-us a:hover, .contact-us a:active, .contact-us a:visited{color:#07642b; text-decoration:none;}

.col-img-container{width:340px; margin:0 auto; position:relative;}
.col-img-container img{display:block; width:315px; margin:0 auto;}
.right-headline-container{width:339px; /*min-height:10px;*/ /*background-image:url(images/main_leftcol_bg.png); background-repeat:no-repeat;*/ position:absolute; left:0; top:33px; z-index:1; border:0px solid black;}
.right-headline{width:339px; /*min-height:10px;*/ position:relative; font-weight:700; text-transform: uppercase; font-size:32px; color:#fff; text-align:center; /*padding-top:18px;*/ border:0px solid black; padding-top:6px;}
.right-headline span{display:block; margin-top:0px; padding:11px 10px 13px 10px; /*min-height:10px;*/ background: #cca87f; /* Old browsers */
background: -moz-linear-gradient(left,  #cca87f 0%, #dcc4a4 50%, #cca87f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cca87f), color-stop(50%,#dcc4a4), color-stop(100%,#cca87f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #cca87f 0%,#dcc4a4 50%,#cca87f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #cca87f 0%,#dcc4a4 50%,#cca87f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #cca87f 0%,#dcc4a4 50%,#cca87f 100%); /* IE10+ */
background: linear-gradient(to right,  #cca87f 0%,#dcc4a4 50%,#cca87f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca87f', endColorstr='#cca87f',GradientType=1 ); /* IE6-9 */
box-shadow: 2px 4px 5px rgba(0,0,0,0.4);}
.right-headline:before {content: ""; position: absolute; top: 0px; left: 0%; width: 0px; height: 0px; border-style: solid; border-width: 7px 12px 0px 0; border-color: transparent #c69d71 transparent }
.right-headline:after {content: ""; position: absolute; top: 0px; right: 0%; width: 0px; height: 0px; border-style: solid; border-width: 0px 12px 7px 0px; border-color: #c69d71 transparent #c69d71 transparent;}

.page-title-container{width:356px; min-height:26px; margin-top:-5px; border:0px solid black; position:relative; padding-top:5px;}
.page-title{font-size:24px; color:#c89e64; font-family: 'Rokkitt', serif; font-weight:400; padding:5px 0 1px 0; text-transform: uppercase; letter-spacing:.05em; padding-left:39px; }

.column-left h3 {padding: 18px 0 0 39px; color:#6f614a; font-family: 'Rokkitt', serif; font-weight:bold; text-transform: uppercase; font-size:18px; }

.content-social-links{padding-left:39px; position:absolute; bottom:0;}
.content-social-links img{width:19px;}
.content-social-links li{float:left; width:19px; height:19px;}
.content-social-links li:first-child{margin-right:5px;}

/*contact page*/
.page-id-16 .column-right { padding-top: 76px; }

.contact-address{margin-bottom:23px; margin-left:35px; line-height:1.3em;font-size: 1.25em;}
.contact-address h3{color:#07642b; font-size:25px; font-family: 'Rokkitt', serif; font-weight:400; line-height:1em;}
.reqtxt, .emailreqtxt, .marked-required{color:#c69d71;}


.cform{margin-top:18px; border:0px solid black; overflow:hidden; padding-left:39px; width:285px;}
.cform li{margin-top:14px;}
.cform li:first-child{margin-top:0;}
.cform li:last-child{margin-top:14px;}
label span{display:inline-block; padding-bottom:1px;}
#subm-btn input[type=submit]{font-size:12px; color:#fff; border:0px solid #f3f3f3/*#707070*/; cursor:pointer; border-radius:0px; background:none; text-transform: uppercase; padding:0;}
#subm-btn{display:inline-block; border:1px solid #d5d5d5; float:right; padding:0; margin:0;}
#subm-btn span{display:block; border:1px solid #fff; padding:4px 3px 3px 4px; background: #e6d4be; /* Old browsers */
background: -moz-linear-gradient(top,  #e6d4be 0%, #d7ba9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6d4be), color-stop(100%,#d7ba9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6d4be 0%,#d7ba9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6d4be 0%,#d7ba9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6d4be 0%,#d7ba9b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6d4be 0%,#d7ba9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d4be', endColorstr='#d7ba9b',GradientType=0 ); /* IE6-9 */
}

.cform input[type=text], .cform textarea, .cform select{width:278px; padding: 1px 0px 1px 3px; font-size:14px; border:1px solid #fff; background: #e5d4be; /* Old browsers */
background: -moz-linear-gradient(top,  #e5d4be 0%, #d7ba9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5d4be), color-stop(100%,#d7ba9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5d4be 0%,#d7ba9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5d4be 0%,#d7ba9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5d4be 0%,#d7ba9b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5d4be 0%,#d7ba9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d4be', endColorstr='#d7ba9b',GradientType=0 ); /* IE6-9 */
}
.cform input[type=text] { height:27px; }
.cform textarea{ overflow: auto; }
.cform div{border:1px solid #d5d5d5;}
.linklove{display:none !important;}

/*plans implantation page*/
.implantation-img-container{display:inline-block; border:1px solid #c69d71; }
.implantation-img-container img{border:1px solid #fff;}
.implantation{display:block; color:#06642b; font-size:19px; text-transform:uppercase; font-family: 'Rokkitt', serif; margin-top:37px; }
.implantation-back{display:block; color:#7f7f7f; font-size:15px; text-transform:uppercase; font-family: 'Rokkitt', serif; margin-top:14px; }
.implantation-back a:link, .implantation-back a:hover, .implantation-back a:active, .implantation-back a:visited{color:#7f7f7f; text-decoration:none;}

/*plan appartement*/
.chalet{min-height:278px; border:0px solid black; overflow:hidden; padding-left:0px; color:#06642b;}
.chalet h3, .chalet-floor-name h3{color:#06642b; font-size:25px; text-transform: uppercase; font-family: 'Rokkitt', serif; font-weight:400;}

.availablility_labels {position: absolute; left:400px; top:390px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; z-index: 20;}
.availablility_labels .disponible { color: #06642B; font-size: 13px; background-image: url(images/disponible.png); padding: 2px 0 0 40px; background-repeat: no-repeat; height: 24px; float: left;}
.availablility_labels .vendu { color: #ED1C24; font-size: 13px;  background-image: url(images/vendu.png); padding: 2px 0 0 40px; background-repeat: no-repeat; height: 24px; float: left; margin-left: 20px; }

.chalet strong{color:#06642b; font-size:17px; text-transform: uppercase; font-family: 'Rokkitt', serif; font-weight:400;}
.chalet-floor-name strong{color:#06642b; font-size:20px; font-family: 'Rokkitt', serif; font-weight:400;}
.chalet-container {padding-top:25px; position: relative;}
.chalet-container li.chalet{margin-top:68px;}
.chalet-container li.chalet:first-child{margin-top:0;margin-bottom:68px;}
.specification{width:180px; float:left; padding-top:29px;}
.specification ul{font-family: 'Open Sans', sans-serif; line-height:1.3em; margin-top:52px; border-top:1px solid #06642b; border-bottom:1px solid #06642b; padding-top:8px; padding-bottom:8px;}
.specification-img-container{width:595px; height:301px; margin-left:200px; border:0px solid black; position:relative;}
.specification-img-container a{display:inline-block; border:0px solid blue;}

.chalet_typeB, .chalet_typeC{background-image:url(images/chalet_types_sprite.jpg); background-repeat:no-repeat; border:0px solid black;}
.chalet_typeC{width:593px; height:278px; background-position:0 -394px; margin-left:182px;}
.chalet_typeB{width:593px; height:333px; background-position:0 0; margin-left:182px;}

.appartments-floors{position:relative; width:100%; border:0px solid black;}
.chalet_typeB .appartments-floors{height:100%;}
.chalet_typeC .appartments-floors{height:100%;}
.first-floor, .second-floor, .third-floor, .fourth-floor, .fifth-floor, .appartment1, .appartment2, .appartment3{position:absolute;}
.first-floor{bottom:0px;}
.chalet_typeC .first-floor {bottom: 10px}
.second-floor{bottom:54px;}
.third-floor{bottom:107px;}
.fourth-floor{bottom:162px;}
.fifth-floor{bottom:211px; height:85px;}
.chalet_typeC .second-floor{height:54px; bottom:62px;}
.chalet_typeC .third-floor{height:50px; bottom:120px;}
.chalet_typeC .fifth-floor{height:60px; }

.chalet_typeC .fifth-floor, .chalet_typeC .fourth-floor.appartment1, .chalet_typeC .fourth-floor.appartment3{display:none;}

.appartment1,.appartment4{left:47px;}
.appartment2{left:190px; width: 252px}
.appartment3{right:7px;}

.chalet_typeB .third-floor.appartment2 { width: 74px }
.chalet_typeB .third-floor.appartment3 { left:264px; width: 178px }
.chalet_typeB .third-floor.appartment4 { right:7px; width: 140px; left: auto; }


.chalet_typeB .fourth-floor.appartment2 { width: 74px }
.chalet_typeB .fourth-floor.appartment3 { left:264px; width: 178px }
.chalet_typeB .fourth-floor.appartment4 { right:7px; width: 140px; left: auto; }

.chalet_typeB .fourth-floor.appartment1, .chalet_typeB .fourth-floor.appartment4{height:85px;}
.chalet_typeB .fourth-floor.appartment2, .chalet_typeB .fourth-floor.appartment3 {height:50px;}

.chalet_typeB .fifth-floor.appartment1{display:none;}
.chalet_typeB .fifth-floor.appartment2{width: 125px;}
.chalet_typeB .fifth-floor.appartment3{width: 125px; left:315px; }



.chalet_typeC .third-floor.appartment1, .chalet_typeC .third-floor.appartment3{height:86px;}

.chalet_typeB .third-floor, .chalet_typeB .second-floor, .chalet_typeB .first-floor{height:49px;}
 .chalet_typeC .first-floor{height:50px;}
.chalet_typeB .second-floor.appartment1, .chalet_typeC .first-floor.appartment1 {height:19px;}
.chalet_typeB .second-floor.appartment4, .chalet_typeC .first-floor.appartment4 {height:28px;}
.chalet_typeC .first-floor.appartment4 { bottom: 32px;}
.chalet_typeB .second-floor.appartment4 { bottom: 74px;}
.appartment1,.appartment3{ width: 140px;}
.chalet_typeB .second-floor.appartment1, .chalet_typeC .first-floor.appartment1, .chalet_typeB .second-floor.appartment4, .chalet_typeC .first-floor.appartment4{width: 215px;}
.chalet_typeB .second-floor.appartment2, .chalet_typeC .first-floor.appartment2{left: 262px;width: 181px;}
.chalet_typeB .first-floor.appartment1{width: 252px;}
.chalet_typeB .first-floor.appartment2{left:300px; width:143px;}

.chalet_typeC .fourth-floor{height:83px; bottom:173px;}

.chalet-floor-name{position:absolute; left:0; top:5px;}
#fancybox-title-over{display:none !important;}
#fancybox-content>div{overflow:hidden !important;}
.floor-number-1, .floor-number-2, .floor-number-3, .floor-number-4, .floor-number-5{display:none;}

.chalet_typeC .disponible, .chalet_typeC .vendu, .chalet_typeB .disponible, .chalet_typeB .vendu {background-image:url(images/chalet_types_sprite.jpg);}

.chalet_typeC .disponible.appartment1.first-floor{background-repeat:no-repeat; background-position:-877px -643px;}
.chalet_typeC .disponible.appartment2.first-floor{background-repeat:no-repeat; background-position:-1091px -612px;}
.chalet_typeC .disponible.appartment3.first-floor{background-repeat:no-repeat; background-position:-1276px -612px;}
.chalet_typeC .disponible.appartment4.first-floor{background-repeat:no-repeat; background-position:-877px -612px;}

.chalet_typeC .disponible.appartment1.second-floor{background-repeat:no-repeat; background-position:-877px -556px;}
.chalet_typeC .disponible.appartment2.second-floor{background-repeat:no-repeat; background-position:-1019px -556px;}
.chalet_typeC .disponible.appartment3.second-floor{background-repeat:no-repeat; background-position:-1276px -556px;}

.chalet_typeC .disponible.appartment1.third-floor{background-repeat:no-repeat; background-position:-877px -486px;}
.chalet_typeC .disponible.appartment2.third-floor{background-repeat:no-repeat; background-position:-1019px -502px;}
.chalet_typeC .disponible.appartment3.third-floor{background-repeat:no-repeat; background-position:-1276px -466px;}

.chalet_typeC .disponible.appartment2.fourth-floor{background-repeat:no-repeat; background-position:-1020px -416px;}

.chalet_typeC .vendu.appartment1.first-floor{background-repeat:no-repeat; background-position:-1706px -643px;}
.chalet_typeC .vendu.appartment2.first-floor{background-repeat:no-repeat; background-position:-1920px -612px;}
.chalet_typeC .vendu.appartment3.first-floor{background-repeat:no-repeat; background-position:-2105px -612px;}
.chalet_typeC .vendu.appartment4.first-floor{background-repeat:no-repeat; background-position:-1706px -612px;}

.chalet_typeC .vendu.appartment1.second-floor{background-repeat:no-repeat; background-position:-1706px -556px;}
.chalet_typeC .vendu.appartment2.second-floor{background-repeat:no-repeat; background-position:-1849px -556px;}
.chalet_typeC .vendu.appartment3.second-floor{background-repeat:no-repeat; background-position:-2105px -556px;}

.chalet_typeC .vendu.appartment1.third-floor{background-repeat:no-repeat; background-position:-1706px -466px;}
.chalet_typeC .vendu.appartment2.third-floor{background-repeat:no-repeat; background-position:-1849px -502px;}
.chalet_typeC .vendu.appartment3.third-floor{background-repeat:no-repeat; background-position:-2105px -466px;}

.chalet_typeC .vendu.appartment2.fourth-floor{background-repeat:no-repeat; background-position:-1849px -416px;}

.chalet_typeB .disponible.appartment1.first-floor{background-repeat:no-repeat; background-position:-877px -284px;}
.chalet_typeB .disponible.appartment2.first-floor{background-repeat:no-repeat; background-position:-1130px -284px;}
.chalet_typeB .disponible.appartment3.first-floor{background-repeat:no-repeat; background-position:-1276px -284px;}

.chalet_typeB .disponible.appartment1.second-floor{background-repeat:no-repeat; background-position:-876px -260px;}
.chalet_typeB .disponible.appartment2.second-floor{background-repeat:no-repeat; background-position:-1091px -230px;}
.chalet_typeB .disponible.appartment3.second-floor{background-repeat:no-repeat; background-position:-1276px -230px;}
.chalet_typeB .disponible.appartment4.second-floor{background-repeat:no-repeat; background-position:-877px -231px;}

.chalet_typeB .disponible.appartment1.third-floor{background-repeat:no-repeat; background-position:-877px -177px;}
.chalet_typeB .disponible.appartment2.third-floor{background-repeat:no-repeat; background-position:-1019px -177px;}
.chalet_typeB .disponible.appartment3.third-floor{background-repeat:no-repeat; background-position:-1093px -177px;}
.chalet_typeB .disponible.appartment4.third-floor{background-repeat:no-repeat; background-position:-1276px -177px;}

.chalet_typeB .disponible.appartment1.fourth-floor{background-repeat:no-repeat; background-position:-877px -86px;}
.chalet_typeB .disponible.appartment2.fourth-floor{background-repeat:no-repeat; background-position:-1019px -121px;}
.chalet_typeB .disponible.appartment3.fourth-floor{background-repeat:no-repeat; background-position:-1093px -121px;}
.chalet_typeB .disponible.appartment4.fourth-floor{background-repeat:no-repeat; background-position:-1276px -86px;}

.chalet_typeB .disponible.appartment2.fifth-floor{background-repeat:no-repeat; background-position:-1020px -37px;}
.chalet_typeB .disponible.appartment3.fifth-floor{background-repeat:no-repeat; background-position:-1145px -37px;}

/**/
.chalet_typeB .vendu.appartment1.first-floor{background-repeat:no-repeat; background-position:-1706px -284px;}
.chalet_typeB .vendu.appartment2.first-floor{background-repeat:no-repeat; background-position:-1959px -284px;}
.chalet_typeB .vendu.appartment3.first-floor{background-repeat:no-repeat; background-position:-2105px -284px;}

.chalet_typeB .vendu.appartment1.second-floor{background-repeat:no-repeat; background-position:-1706px -260px;}
.chalet_typeB .vendu.appartment2.second-floor{background-repeat:no-repeat; background-position:-1920px -230px;}
.chalet_typeB .vendu.appartment3.second-floor{background-repeat:no-repeat; background-position:-2105px -230px;}
.chalet_typeB .vendu.appartment4.second-floor{background-repeat:no-repeat; background-position:-1706px -231px;}

.chalet_typeB .vendu.appartment1.third-floor{background-repeat:no-repeat; background-position:-1706px -177px;}
.chalet_typeB .vendu.appartment2.third-floor{background-repeat:no-repeat; background-position:-1849px -177px;}
.chalet_typeB .vendu.appartment3.third-floor{background-repeat:no-repeat; background-position:-1923px -177px;}
.chalet_typeB .vendu.appartment4.third-floor{background-repeat:no-repeat; background-position:-2105px -177px;}

.chalet_typeB .vendu.appartment1.fourth-floor{background-repeat:no-repeat; background-position:-1706px -86px;}
.chalet_typeB .vendu.appartment2.fourth-floor{background-repeat:no-repeat; background-position:-1849px -121px;}
.chalet_typeB .vendu.appartment3.fourth-floor{background-repeat:no-repeat; background-position:-1923px -121px;}
.chalet_typeB .vendu.appartment4.fourth-floor{background-repeat:no-repeat; background-position:-2105px -86px;}

.chalet_typeB .vendu.appartment2.fifth-floor{background-repeat:no-repeat; background-position:-1849px -37px;}
.chalet_typeB .vendu.appartment3.fifth-floor{background-repeat:no-repeat; background-position:-1974px -37px;}


/*footer*/
footer{width:815px; margin:11px auto 0 auto; background-color:#fff; background-image:url(images/footer_bg.png); background-repeat:no-repeat; background-position:left bottom; padding-top:20px; padding-bottom:14px; box-shadow: 2px 4px 5px rgba(0,0,0,0.4);}
.footer-contacts-container{width:480px; height:55px; margin-top:9px; float:right; border:0px solid black;}
.footer-contacts-container a{color: #000;text-decoration:none;}
.footer-contacts-container a:hover {text-decoration:underline;}
.footer-contacts-container p{float:left; border:0px solid black; padding-top:10px;  margin-left: 5px;}
.company-name{text-transform: uppercase;}
.footer-social-links{width:74px; height:46px; background-image:url(images/footer_social_bg.png); background-repeat:no-repeat; float:right; margin-right:-15px; padding:18px 0 0 55px;}
.footer-social-links li{float:left; width:26px; height:26px;}
.footer-social-links li:first-child{margin-right:6px;}
.copyright{color:#fff; font-size:9px; text-align:right; padding-right:30px; margin-top:7px; text-transform: uppercase;}
.copyright a {color:#fff;}
.copyright a:hover {text-decoration:underline;}

/*floor plans modal box window styles*/
/*
.overlay-box{width:980px; height:721px; }
.flplan-img-container{position:absolute; left:63px; top:130px; border:0px solid black;}
.flplan-img{position:relative; width:775px; height:397px; border:0px solid black;}
*/
.layer-over{width:775px; height:397px; position:absolute; left:0; top:0;}
.green{z-index:2;}
.red1{z-index:3;}
.red2{z-index:4;}
.red3{z-index:5;}
.label-sold1, .label-sold2, .label-sold3, .label-sold4{display:inline-block; border:1px solid #fff; padding:6px 8px 6px 5px; background-color:#f68d91; color:#fff; text-transform:uppercase; font-family: 'Open Sans', sans-serif; font-size:19px; font-weight:600; box-shadow: 2px 4px 5px rgba(0,0,0,0.4);}

/*B Rez-inferieur*/
.type-B.style-Rez-inferieur .red1, .type-B.style-Rez-inferieur .red2, .type-B.style-Rez-inferieur .red3, .type-B.style-Rez-inferieur .active1, .type-B.style-Rez-inferieur .active2, .type-B.style-Rez-inferieur .active3, .type-B.style-Rez-inferieur .hov1, .type-B.style-Rez-inferieur .hov2, .type-B.style-Rez-inferieur .hov3{background-image:url(images/floor_plan_styles/b_rez_inferieur_sprite.png); background-repeat:no-repeat;}
/*B Rez-superieur*/
.type-B.style-Rez-superieur .red1, .type-B.style-Rez-superieur .red2, .type-B.style-Rez-superieur .red3, .type-B.style-Rez-superieur .active1, .type-B.style-Rez-superieur .active2, .type-B.style-Rez-superieur .active3, .type-B.style-Rez-superieur .hov1, .type-B.style-Rez-superieur .hov2, .type-B.style-Rez-superieur .hov3,  .type-B.style-Rez-superieur .hov4, .type-B.style-Rez-superieur .active4, .type-B.style-Rez-superieur .red4{background-image:url(images/floor_plan_styles/b_res_superieur_sprite.png); background-repeat:no-repeat;}
/*B Etage*/
.type-B.style-Etage .red1, .type-B.style-Etage .red2, .type-B.style-Etage .red3, .type-B.style-Etage .red4, .type-B.style-Etage .active1, .type-B.style-Etage .active2, .type-B.style-Etage .active3, .type-B.style-Etage .active4, .type-B.style-Etage .hov1, .type-B.style-Etage .hov2, .type-B.style-Etage .hov3, .type-B.style-Etage .hov4{background-image:url(images/floor_plan_styles/B-308-309-310-311_over.png); background-repeat:no-repeat;}
/*B Combles*/
.type-B.style-Combles .red1, .type-B.style-Combles .red2, .type-B.style-Combles .red3, .type-B.style-Combles .red4, .type-B.style-Combles .active1, .type-B.style-Combles .active2, .type-B.style-Combles .active3, .type-B.style-Combles .active4, .type-B.style-Combles .hov1, .type-B.style-Combles .hov2, .type-B.style-Combles .hov3, .type-B.style-Combles .hov4{background-image:url(images/floor_plan_styles/B-412-413-414-415_over.png); background-repeat:no-repeat;}
/*B Attique*/
.type-B.style-Attique .red1, .type-B.style-Attique .red2, .type-B.style-Attique .red3, .type-B.style-Attique .active1, .type-B.style-Attique .active2, .type-B.style-Attique .active3, .type-B.style-Attique .hov1, .type-B.style-Attique .hov2, .type-B.style-Attique .hov3{background-image:url(images/floor_plan_styles/B-516-517_over.png); background-repeat:no-repeat;}
/*C Rez-superieur*/
.type-C.style-Rez-superieur .red1, .type-C.style-Rez-superieur .red2, .type-C.style-Rez-superieur .red3, .type-C.style-Rez-superieur .red4, .type-C.style-Rez-superieur .active1, .type-C.style-Rez-superieur .active2, .type-C.style-Rez-superieur .active3, .type-C.style-Rez-superieur .active4, .type-C.style-Rez-superieur .hov1, .type-C.style-Rez-superieur .hov2, .type-C.style-Rez-superieur .hov3, .type-C.style-Rez-superieur .hov4{background-image:url(images/floor_plan_styles/c_res_superieur_sprite.png); background-repeat:no-repeat;}
/*C Etage*/
.type-C.style-Etage .red1, .type-C.style-Etage .red2, .type-C.style-Etage .red3, .type-C.style-Etage .active1, .type-C.style-Etage .active2, .type-C.style-Etage .active3, .type-C.style-Etage .hov1, .type-C.style-Etage .hov2, .type-C.style-Etage .hov3{background-image:url(images/floor_plan_styles/c_etage_sprite.png); background-repeat:no-repeat;}
/*C Combles*/
.type-C.style-Combles .red1, .type-C.style-Combles .red2, .type-C.style-Combles .red3, .type-C.style-Combles .active1, .type-C.style-Combles .active2, .type-C.style-Combles .active3, .type-C.style-Combles .hov1, .type-C.style-Combles .hov2, .type-C.style-Combles .hov3{background-image:url(images/floor_plan_styles/c_combles_sprite.png); background-repeat:no-repeat;}
/*C Attique*/
.type-C.style-Attique .red1, .type-C.style-Attique .red2, .type-C.style-Attique .red3, .type-C.style-Attique .active1, .type-C.style-Attique .active2, .type-C.style-Attique .active3, .type-C.style-Attique .hov1, .type-C.style-Attique .hov2, .type-C.style-Attique .hov3{background-image:url(images/floor_plan_styles/c_attique_sprite.png); background-repeat:no-repeat;}




.appartment1-position, .appartment2-position, .appartment3-position, .appartment4-position {display: inline-block; color:#06642b; font-size:12px; font-family: 'Open Sans', sans-serif; line-height:1.3em; width: 195px; padding: 30px; vertical-align:top; }

.two-appartment.appartment2-position,
.two-appartment.appartment3-position,
.four-appartment.appartment1-position,
.four-appartment.appartment2-position,
.four-appartment.appartment3-position,
.four-appartment.appartment4-position {
	width: 320px;
}

.two-appartment.appartment2-position,
.four-appartment.appartment2-position,
.four-appartment.appartment4-position {
	text-align: right;
}

#floor_1_2 .appartment3-position, #floor_2_1 .appartment3-position {padding-top:10px; }
#fancybox-content .appartment1-position{position:absolute; top:300px; left:0px;}
#fancybox-content .appartment2-position{position:absolute; bottom:0px; left:400px;}
#fancybox-content .appartment3-position{position:absolute; top:300px; right:0px;}




/*constant*/
.appartment-left, .appartment-center, .appartment-right, .appartment-behind{position:absolute; border:0px solid black;}
.appartment-left a, .appartment-center a, .appartment-right a, .appartment-behind a{display:block; position:relative; background:url(images/blank.gif); background-repeat:no-repeat;}
.appartment-left, .appartment-right{z-index:6;}
.appartment-center{z-index:7;}
.appartment-left a:link, .appartment-center a:link, .appartment-right a:link, .appartment-behind a:link{z-index:6;}
.appartment-left a:hover, .appartment-center a:hover, .appartment-right a:hover, .appartment-behind a:hover{z-index:8;}

.type-B .floorNum5 { width: 168px; margin-left: 225px; }
.type-C .floorNum4 { width: 300px; margin-left: 225px; }

.type-B .floorNum3 .appartment-behind, .type-B .floorNum4 .appartment-behind { z-index: 5; }



.type-B.style-Rez-inferieur .hov1, .type-B.style-Rez-inferieur .active1 {background-position: -99px -297px; width: 330px; position: absolute; height: 255px;}
.type-B.style-Rez-inferieur .hov2, .type-B.style-Rez-inferieur .active2 {background-position: -932px -369px; width: 133px; position: absolute; height: 186px;}
.type-B.style-Rez-inferieur .hov3, .type-B.style-Rez-inferieur .active3 {background-position: -1609px -297px; width: 261px; position: absolute; height: 250px;}
.type-B.style-Rez-inferieur .red1 {background-position: -409px -199px; width: 376px;}
.type-B.style-Rez-inferieur .red2 {background-position: -1301px -199px; width: 133px; left: 375px;}
.type-B.style-Rez-inferieur .red3 {background-position: -1980px -199px; width: 261px; left: 469px;}
.type-B.style-Rez-inferieur .label-sold1 { left: 226px; position: absolute; top: 200px;}
.type-B.style-Rez-inferieur .label-sold2 { left: 23px;  position: absolute; top: 240px; }
.type-B.style-Rez-inferieur .label-sold3 { left: 96px;  position: absolute; top: 200px; }
.type-B.style-Rez-inferieur .appartment-left, .type-B.style-Rez-inferieur .hov1, .type-B.style-Rez-inferieur .active1{left:62px; top:98px;}
.type-B.style-Rez-inferieur .appartment-center, .type-B.style-Rez-inferieur .hov2, .type-B.style-Rez-inferieur .active2{left:378px; top:170px;}
.type-B.style-Rez-inferieur .appartment-right, .type-B.style-Rez-inferieur .hov3, .type-B.style-Rez-inferieur .active3{left:469px; top:98px;}
.type-B.style-Rez-inferieur .appartment-left, .type-B.style-Rez-inferieur .appartment-left a{display:block; width:312px; height:235px;}
.type-B.style-Rez-inferieur .appartment-center, .type-B.style-Rez-inferieur .appartment-center a{display:block; width:130px; height:186px;}
.type-B.style-Rez-inferieur .appartment-right, .type-B.style-Rez-inferieur .appartment-right a{display:block; width:250px; height:236px;}

.type-B.style-Rez-superieur .hov1, .type-B.style-Rez-superieur .active1 {background-position: -104px -355px; width: 221px; position: absolute; height: 211px;}
.type-B.style-Rez-superieur .hov2, .type-B.style-Rez-superieur .active2 {background-position: -969px -401px;width: 172px;position: absolute;height: 164px;}
.type-B.style-Rez-superieur .hov3, .type-B.style-Rez-superieur .active3 {background-position: -1657px -267px;width: 261px;position: absolute;height: 282px;}
.type-B.style-Rez-superieur .hov4, .type-B.style-Rez-superieur .active4 {background-position: -775px -267px;width: 360px;position: absolute;height: 107px;}
.type-B.style-Rez-superieur .red1 {background-position: -359px -199px; width: 230px; left: 112px;}
.type-B.style-Rez-superieur .red2 {background-position: -1179px -402px; width: 177px; left: 338px; height: 162px; top: 203px;}
.type-B.style-Rez-superieur .red3 {background-position: -1952px -199px; width: 272px; left: 473px;}
.type-B.style-Rez-superieur .red4 {background-position: -1173px -266px; width: 365px; left: 37px;height: 107px; top: 67px;}
.type-B.style-Rez-superieur .label-sold1 {left: 89px; position: absolute; top: 234px;}
.type-B.style-Rez-superieur .label-sold2 { left: 49px; position: absolute; top: 61px; }
.type-B.style-Rez-superieur .label-sold3 { left: 50px; position: absolute; top: 170px;}
.type-B.style-Rez-superieur .label-sold4 {left: 175px; position: absolute;top: 30px;}
.type-B.style-Rez-superieur .appartment-left, .type-B.style-Rez-superieur .hov1, .type-B.style-Rez-superieur .active1{left: 121px;top: 156px;}
.type-B.style-Rez-superieur .appartment-center, .type-B.style-Rez-superieur .hov2, .type-B.style-Rez-superieur .active2{left: 340px;top: 202px;}
.type-B.style-Rez-superieur .appartment-right, .type-B.style-Rez-superieur .hov3, .type-B.style-Rez-superieur .active3{left: 477px;top: 68px;}
.type-B.style-Rez-superieur .appartment-behind, .type-B.style-Rez-superieur .hov4, .type-B.style-Rez-superieur .active4{left: 37px;top: 68px;}
.type-B.style-Rez-superieur .appartment-left, .type-B.style-Rez-superieur .appartment-left a{display: block;width: 219px;height: 211px;}
.type-B.style-Rez-superieur .appartment-center, .type-B.style-Rez-superieur .appartment-center a{display: block;width: 173px;height: 164px;}
.type-B.style-Rez-superieur .appartment-right, .type-B.style-Rez-superieur .appartment-right a{display: block;width: 259px;height: 281px;}
.type-B.style-Rez-superieur .appartment-behind, .type-B.style-Rez-superieur .appartment-behind a{display: block;width: 360px;height: 108px;}

.type-B.style-Etage .hov1, .type-B.style-Etage .active1 {background-position: -123px -251px;width: 287px;position: absolute;height: 314px;}
.type-B.style-Etage .hov2, .type-B.style-Etage .active2 {background-position: -852px -392px;width: 117px;position: absolute;height: 177px;}
.type-B.style-Etage .hov3, .type-B.style-Etage .active3 {background-position: -1159px -392px;width: 177px;position: absolute;height: 177px;}
.type-B.style-Etage .hov4, .type-B.style-Etage .active4 {background-position: -1564px -255px;width: 277px;position: absolute;height: 292px;}

.type-B.style-Etage .red1 {background-position: -482px -251px;}
.type-B.style-Etage .red2 {background-position: -1010px -392px;}
.type-B.style-Etage .red3 {background-position: -1358px -392px;}
.type-B.style-Etage .red4 {background-position: -1923px -255px;}

.type-B.style-Etage .label-sold1 { left: 106px;position: absolute;top: 70px;}
.type-B.style-Etage .label-sold2 {left: 7px;position: absolute;top: 73px;}
.type-B.style-Etage .label-sold3 {left: 53px;position: absolute;top: 73px;}
.type-B.style-Etage .label-sold4 {left: 122px;position: absolute;top: 69px;}

.type-B.style-Etage .appartment-left, .type-B.style-Etage .hov1, .type-B.style-Etage .active1, .type-B.style-Etage .red1{left: 109px;top: 52px;}
.type-B.style-Etage .appartment-center, .type-B.style-Etage .hov2, .type-B.style-Etage .active2, .type-B.style-Etage .red2{left: 260px;top: 193px;}
.type-B.style-Etage .appartment-right, .type-B.style-Etage .hov3, .type-B.style-Etage .active3, .type-B.style-Etage .red3{left: 346px;top: 193px;}
.type-B.style-Etage .appartment-behind, .type-B.style-Etage .hov4, .type-B.style-Etage .active4, .type-B.style-Etage .red4{left: 393px;top: 56px;}

.type-B.style-Etage .appartment-left, .type-B.style-Etage .appartment-left a, .type-B.style-Etage .red1{display: block;width: 285px;height: 305px;}
.type-B.style-Etage .appartment-center, .type-B.style-Etage .appartment-center a, .type-B.style-Etage .red2{display: block;width: 112px;height: 174px;}
.type-B.style-Etage .appartment-right, .type-B.style-Etage .appartment-right a, .type-B.style-Etage .red3{display: block;width: 171px;height: 174px;}
.type-B.style-Etage .appartment-behind, .type-B.style-Etage .appartment-behind a, .type-B.style-Etage .red4{display: block;width: 281px;height: 293px;}

.type-B.style-Combles .hov1, .type-B.style-Combles .active1 {background-position: -92px -251px;width: 287px;position: absolute;height: 314px;}
.type-B.style-Combles .hov2, .type-B.style-Combles .active2 {background-position: -844px -392px;width: 117px;position: absolute;height: 177px;}
.type-B.style-Combles .hov3, .type-B.style-Combles .active3 {background-position: -1159px -392px;width: 177px;position: absolute;height: 177px;}
.type-B.style-Combles .hov4, .type-B.style-Combles .active4 {background-position: -1576px -255px;width: 277px;position: absolute;height: 292px;}

.type-B.style-Combles .red1 {background-position: -462px -251px;}
.type-B.style-Combles .red2 {background-position: -1006px -392px;}
.type-B.style-Combles .red3 {background-position: -1359px -392px;}
.type-B.style-Combles .red4 {background-position: -1946px -255px;}

.type-B.style-Combles .label-sold1 { left: 126px;position: absolute;top: 70px;}
.type-B.style-Combles .label-sold2 {left: 17px;position: absolute;top: 73px;}
.type-B.style-Combles .label-sold3 {left: 53px;position: absolute;top: 73px;}
.type-B.style-Combles .label-sold4 {left: 122px;position: absolute;top: 69px;}

.type-B.style-Combles .appartment-left, .type-B.style-Combles .hov1, .type-B.style-Combles .active1, .type-B.style-Combles .red1{left: 109px;top: 52px;}
.type-B.style-Combles .appartment-center, .type-B.style-Combles .hov2, .type-B.style-Combles .active2, .type-B.style-Combles .red2{left: 260px;top: 193px;}
.type-B.style-Combles .appartment-right, .type-B.style-Combles .hov3, .type-B.style-Combles .active3, .type-B.style-Combles .red3{left: 350px;top: 193px;}
.type-B.style-Combles .appartment-behind, .type-B.style-Combles .hov4, .type-B.style-Combles .active4, .type-B.style-Combles .red4{left: 393px;top: 56px;}

.type-B.style-Combles .appartment-left, .type-B.style-Combles .appartment-left a, .type-B.style-Combles .red1{display: block;width: 285px;height: 305px;}
.type-B.style-Combles .appartment-center, .type-B.style-Combles .appartment-center a, .type-B.style-Combles .red2{display: block;width: 112px;height: 174px;}
.type-B.style-Combles .appartment-right, .type-B.style-Combles .appartment-right a, .type-B.style-Combles .red3{display: block;width: 171px;height: 174px;}
.type-B.style-Combles .appartment-behind, .type-B.style-Combles .appartment-behind a, .type-B.style-Combles .red4{display: block;width: 281px;height: 293px;}


.type-B.style-Attique .appartment-center, .type-B.style-Attique .red2{left:7px; top:35px; width: 166px;}
.type-B.style-Attique .appartment-right, .type-B.style-Attique .red3{left:163px; top:35px; width: 140px;}

.type-B.style-Attique .hov2, .type-B.style-Attique .active2 { background-position: -752px -199px;width: 191px;position: absolute;height: 376px;}
.type-B.style-Attique .hov3, .type-B.style-Attique .active3 { background-position: -1185px -199px;width: 191px;position: absolute;height: 376px; left: 134px;}
.type-B.style-Attique .red2 {background-position: -981px -234px;}
.type-B.style-Attique .red3 {background-position: -1411px -234px;}
.type-B.style-Attique .label-sold2 {left: 57px;position: absolute;top: 189px;}
.type-B.style-Attique .label-sold3 {left: 29px;position: absolute;top: 189px;}
.type-B.style-Attique .appartment-center, .type-B.style-Attique .appartment-center a, .type-B.style-Attique .appartment-right, .type-B.style-Attique .appartment-right a{display:block; height:334px;}


.type-C.style-Rez-superieur .hov1, .type-C.style-Rez-superieur .active1 {background-position: -117px -355px; width: 221px; position: absolute; height: 211px;}
.type-C.style-Rez-superieur .hov2, .type-C.style-Rez-superieur .active2 {background-position: -955px -400px;width: 172px;position: absolute;height: 164px;}
.type-C.style-Rez-superieur .hov3, .type-C.style-Rez-superieur .active3 {background-position: -1640px -267px;width: 261px;position: absolute;height: 282px;}
.type-C.style-Rez-superieur .hov4, .type-C.style-Rez-superieur .active4 {background-position: -774px -267px;width: 360px;position: absolute;height: 107px;}
.type-C.style-Rez-superieur .red1 {background-position: -430px -199px;width: 230px;left: 109px;}
.type-C.style-Rez-superieur .red2 {background-position: -1233px -402px;width: 177px;left: 317px;height: 162px;top: 203px;}
.type-C.style-Rez-superieur .red3 {background-position: -1947px -199px;width: 272px;left: 452px;}
.type-C.style-Rez-superieur .red4 {background-position: -1164px -266px;width: 365px;left: 23px;height: 111px;top: 67px;}
.type-C.style-Rez-superieur .label-sold1 {left: 89px; position: absolute; top: 234px;}
.type-C.style-Rez-superieur .label-sold2 { left: 49px; position: absolute; top: 61px; }
.type-C.style-Rez-superieur .label-sold3 { left: 50px; position: absolute; top: 170px;}
.type-C.style-Rez-superieur .label-sold4 {left: 175px; position: absolute;top: 30px;}
.type-C.style-Rez-superieur .appartment-left, .type-C.style-Rez-superieur .hov1, .type-C.style-Rez-superieur .active1{left: 108px;top: 156px;}
.type-C.style-Rez-superieur .appartment-center, .type-C.style-Rez-superieur .hov2, .type-C.style-Rez-superieur .active2{left: 317px;top: 202px;}
.type-C.style-Rez-superieur .appartment-right, .type-C.style-Rez-superieur .hov3, .type-C.style-Rez-superieur .active3{left: 451px;top: 68px;}
.type-C.style-Rez-superieur .appartment-behind, .type-C.style-Rez-superieur .hov4, .type-C.style-Rez-superieur .active4{left: 23px;top: 68px;}
.type-C.style-Rez-superieur .appartment-left, .type-C.style-Rez-superieur .appartment-left a{display: block;width: 213px;height: 211px;}
.type-C.style-Rez-superieur .appartment-center, .type-C.style-Rez-superieur .appartment-center a{display: block;width: 173px;height: 164px;}
.type-C.style-Rez-superieur .appartment-right, .type-C.style-Rez-superieur .appartment-right a{display: block;width: 262px;height: 281px;}
.type-C.style-Rez-superieur .appartment-behind, .type-C.style-Rez-superieur .appartment-behind a{display: block;width: 360px;height: 108px;}

.type-C.style-Etage .hov1, .type-C.style-Etage .active1 {background-position: -95px -251px;width: 287px;position: absolute;height: 314px;}
.type-C.style-Etage .hov2, .type-C.style-Etage .active2 {background-position: -849px -392px;width: 264px;position: absolute;height: 177px;}
.type-C.style-Etage .hov3, .type-C.style-Etage .active3 {background-position: -1580px -255px;width: 277px;position: absolute;height: 292px;}
.type-C.style-Etage .red1 {background-position: -467px -251px;}
.type-C.style-Etage .red2 {background-position: -1220px -392px;}
.type-C.style-Etage .red3 {background-position: -1952px -255px;}
.type-C.style-Etage .label-sold1 {left: 113px;position: absolute;top: 50px;}
.type-C.style-Etage .label-sold2 { left: 87px;position: absolute;top: 73px;}
.type-C.style-Etage .label-sold3 { left: 130px;position: absolute;top: 100px; }
.type-C.style-Etage .appartment-left, .type-C.style-Etage .hov1, .type-C.style-Etage .active1, .type-C.style-Etage .red1{left: 109px;top: 52px;}
.type-C.style-Etage .appartment-center, .type-C.style-Etage .hov2, .type-C.style-Etage .active2, .type-C.style-Etage .red2{left: 260px;top: 193px;}
.type-C.style-Etage .appartment-right, .type-C.style-Etage .hov3, .type-C.style-Etage .active3, .type-C.style-Etage .red3{left: 388px;top: 56px;}
.type-C.style-Etage .appartment-left, .type-C.style-Etage .appartment-left a, .type-C.style-Etage .red1{display: block;width: 285px;height: 305px;}
.type-C.style-Etage .appartment-center, .type-C.style-Etage .appartment-center a, .type-C.style-Etage .red2{display: block;width: 261px;height: 174px;}
.type-C.style-Etage .appartment-right, .type-C.style-Etage .appartment-right a, .type-C.style-Etage .red3{display: block;width: 281px;height: 293px;}

.type-C.style-Combles .hov1, .type-C.style-Combles .active1 {background-position: -109px -251px;width: 287px;position: absolute;height: 314px;}
.type-C.style-Combles .hov2, .type-C.style-Combles .active2 {background-position: -851px -392px;width: 264px;position: absolute;height: 177px;}
.type-C.style-Combles .hov3, .type-C.style-Combles .active3 {background-position: -1571px -255px;width: 277px;position: absolute;height: 292px;}
.type-C.style-Combles .red1 {background-position: -475px -251px;}
.type-C.style-Combles .red2 {background-position: -1218px -392px;}
.type-C.style-Combles .red3 {background-position: -1937px -255px;}
.type-C.style-Combles .label-sold1 { left: 126px;position: absolute;top: 70px;}
.type-C.style-Combles .label-sold2 {left: 97px;position: absolute;top: 73px;}
.type-C.style-Combles .label-sold3 {left: 122px;position: absolute;top: 69px;}
.type-C.style-Combles .appartment-left, .type-C.style-Combles .hov1, .type-C.style-Combles .active1, .type-C.style-Combles .red1{left: 109px;top: 52px;}
.type-C.style-Combles .appartment-center, .type-C.style-Combles .hov2, .type-C.style-Combles .active2, .type-C.style-Combles .red2{left: 260px;top: 193px;}
.type-C.style-Combles .appartment-right, .type-C.style-Combles .hov3, .type-C.style-Combles .active3, .type-C.style-Combles .red3{left: 387px;top: 56px;}
.type-C.style-Combles .appartment-left, .type-C.style-Combles .appartment-left a, .type-C.style-Combles .red1{display: block;width: 285px;height: 305px;}
.type-C.style-Combles .appartment-center, .type-C.style-Combles .appartment-center a, .type-C.style-Combles .red2{display: block;width: 261px;height: 174px;}
.type-C.style-Combles .appartment-right, .type-C.style-Combles .appartment-right a, .type-C.style-Combles .red3{display: block;width: 281px;height: 293px;}

.type-C.style-Attique .appartment-center{left:7px; top:35px; width: 300px;}
.type-C.style-Attique .hov2, .type-C.style-Attique .active2 { background-position: -824px -199px;width: 291px;position: absolute;height: 376px;}
.type-C.style-Attique .red2 {background-position: -1178px -199px;}
.type-C.style-Attique .label-sold2 {left: 123px;position: absolute;top: 189px;}
.type-C.style-Attique .appartment-center, .type-C.style-Attique .appartment-center a{display:block; height:334px;}

#fancybox-close {
	position: absolute;
	top: 20px !important;
	right: 21px !important;
	width: 35px !important;
	height: 35px !important;
	border:1px solid #c69d71;
	border-radius:4px;
	background-image: url(images/close_btn.png) !important;
	background-color:#fff !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#usermessagea, #usermessage2a, #usermessage3a{padding:15px;}

/* background */
.no-js #bg {
	visibility: visible;
	min-height: 100%;
	min-width: 620px;
	width: 100%;
	height: auto;
}
#bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
}
.bgwidth {
	width: 100%;
}
.bgheight {
	height: 100%;
}


/* Map
------------------------------------------------------------------------------ */
.map-wrapper {
	clear: both;
	padding: 30px 22px 30px 39px;
}
#map {
	height: 500px;
}

/* ------------------------------------------------------------------------------ */
.menu-secondary-container {
	position: relative;
}

.menu-secondary-container .menu {
	position: absolute;
	top: 0;
	right: -21px;
	text-align: right;
	width: 247px;
}

.menu-secondary-container .menu .menu-item {
	background: url(images/menu_button_sprite.png) no-repeat top left;
	background-position: 0 0;
	width: 247px;
	height: 50px;
}
.menu-secondary-container .menu .menu-item:hover {
	background-position: 0 -100px;
}

.menu-secondary-container .menu .menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	line-height: 50px;
	font-family: 'Rokkitt', serif;
	font-size: 24px;
	color: #fff;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-right: 25px;
}
.menu-secondary-container .menu .menu-item a:hover {
	color: #01632f;
}

.call_to_action_container {
	position: relative;
	height: 165px;
	margin: 10px 0 25px 0;
}

.call_to_action_container .call_to_action {
	width: 348px;
	height: 165px;
	position: absolute;
	top: 0;
	right: -36px;
	color: #fff;
	font-family: 'Rokkitt', serif;
}

.call_to_action_container .call_to_action .call_to_action_text {
	font-size: 15px;
	line-height: 18px;
	width: 162px;
	position: absolute;
	right: 17px;
}
.call_to_action_container .call_to_action .call_to_action_button {
	display: block;
	height: 25px;
	position: absolute;
	right: 17px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 25px;
	color: #ddd;
	font-weight: bold;
	text-align: center;
}
.call_to_action_container .call_to_action .call_to_action_button:hover {
	text-decoration: none;
	color: #fff;
}

/* CTA 1 */
.call_to_action_container .call_to_action1 {
	background: url(images/call_to_action_background.png) no-repeat top left;
}
.call_to_action_container .call_to_action1 .call_to_action1_text {
	top: 30px;
}
.call_to_action_container .call_to_action1 .call_to_action_title {
	font-size: 18px;
	text-transform: uppercase;
}
.call_to_action_container .call_to_action1 .call_to_action_button {
	width: 152px;
	padding-left: 10px;
	bottom: 27px;
}

/* CTA 2 */
.call_to_action_container .call_to_action2 {
	background: url(images/call_to_action2_background.png) no-repeat top left;
}

.call_to_action_container .call_to_action2 .call_to_action2_text {
	top: 61px;
}
.call_to_action_container .call_to_action2 .call_to_action_button {
	width: 142px;
	padding-left: 20px;
	top: 28px;
}



.appartment a .button {
	display: none;
}
.appartment-left:hover   a .button,
.appartment-center:hover a .button,
.appartment-right:hover  a .button,
.appartment-behind:hover  a .button {
	background: url(images/download_form_sprite.png) no-repeat top left;
	background-position: 0 0;
	width: 200px;
	height: 57px;
	display: block;
	z-index: 7;
	position: absolute;
	top: 20px;
	text-transform: uppercase;
	color: #565655;
	padding: 18px 0 0 52px;
}

.appartment-left:hover   a .button {
	left: 0;
}
.appartment-center:hover a .button,
.type-B.style-Attique .appartment-right:hover  a .button,
.type-B.style-Etage .appartment-right:hover  a .button,
.type-B.style-Combles .appartment-right:hover  a .button {
	left: 50%;
	margin-left: -103px;
}
.appartment-right:hover  a .button {
	right: 0;
}

.appartment-behind:hover  a .button {
	left: 15%;
}


/* Form validation
---------------------------------------------------------- */
.download-form {
	margin: 100px 160px;
	width: 740px;
}
.form_row_buttons {
	text-align: center;
}
.initial .form_row_buttons {
	text-align: right;
}
.form_row_required {
	color: #037631;
	font-size: 16px;
	padding: 20px 0;
}
.input_state {
    background: url(images/download_form_sprite.png) no-repeat top left;
	width: 37px;
	height: 42px;
	display: block;
	visibility: hidden;
	display: inline-block;
	zoom:1;
	*display:inline;
	position: relative;
	top: 12px;
	margin-left: 10px;
}

.input_state.valid {
	background-position: -937px 0;
	visibility: visible;
}

.input_state.invalid {
	background-position: -256px 0;
	visibility: visible;
}

.page-template-pdf-download-php .error,
.page-template-form-handler-php .success,
.page-template-form-handler-php .error {
	padding: 20px;
}

#customer_registration_form select,
#customer_registration_form input {
	padding: 10px;
	font-size: 20px;
	font-weight: 300;
	text-shadow: 0px 1px 0px #FFF;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#FFF));
	background: -moz-linear-gradient(top, #cacaca, #FFF);
	border: 1px solid #717171;
	width: 680px;
	height:40px;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#customer_registration_form select {
	padding-top: 5px;
	padding-bottom: 5px;
}
.download-form button {
    background: url(images/download_form_sprite.png) no-repeat -702px 0;
	width: 185px;
	height: 56px;
    padding-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 10px 0 15px;
    line-height: 41px;
    border: 0;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

.download-form button[disabled=disabled],
.download-form button:disabled {
	background-position: -467px 0;
}

.popup_heading {
	color: #037631;
	font-size: 22px;
}
.pdf_icon {
	background: url(images/download_form_sprite.png) no-repeat -343px 0;
	width: 74px;
	height: 83px;
	float: left;
	margin-right: 20px;
}
.initial .popup_heading {
	padding-top: 15px;
}
.pdf_email_address {
	padding: 20px;
	font-size: 22px;
	text-align: center;
}
::-webkit-input-placeholder {
   color: #777;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777;
}

:-ms-input-placeholder {
   color: #777;
}

/* Plans page
-------------------------------------------------------------------------- */
.page-template-planpage-php .content-wrapper {
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;
}
.map-area .map-wrapper {
	padding: 0;
}
.map-area #map {
	height: 531px;
}
.tab {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
	display: none;
}
.tab.site-plan {
	display: block;
}
.page-template-planpage-php .tab-chooser {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #eee;
	padding-left: 10px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	line-height: 36px;
	height: 36px;
	text-transform: uppercase;
	color: #737373;
	width: 194px;
	-webkit-box-shadow: inset 0px -4px 4px 0px #cccccc;
	box-shadow: inset 0px -4px 4px 0px #cccccc;
	font-size: 18px;
	color: #C89E64;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	letter-spacing: .05em;
}
.tab-chooser.active {
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tab-chooser img {
	vertical-align: text-bottom;
}
#tab-chooser-list { padding-left: 0; text-align: center; width: 70px; }

.apartment-list {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 47px;
	position: relative;
}
.apartment-list sup {
	font-size: 0.83em;
	vertical-align: super;
	line-height: 0;
}
.apartment-list th,
.apartment-list .header {
	padding-top: 0px;
	margin-top: 0;
	background-image: url(images/listing_title_background.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	cursor: pointer;
}
.apartment-list .headerSortUp {
	background-position: right -94px;
}
.apartment-list .headerSortDown {
	background-position: right -47px;
}
.apartment-list td.download,
.apartment-list th.download {
	background-position: -200px 0px;
	padding-right: 0;
}
.apartment-list th.download.headerSortUp {
	background-position: -200px -94px;
}
.apartment-list th.download.headerSortDown {
	background-position: -200px -47px;
}
.apartment-list .calltoaction {
	color: #fff;
	border: 4px solid #383225;
	background-color: #6F604B;
	position: relative;
	width: 140px;
	margin: 0 auto;
}
.apartment-list thead .calltoaction {
	top: -10px;
}
.apartment-list tfoot .calltoaction {
	top: 10px;
}

.apartment-list thead .calltoaction:after,
.apartment-list tfoot .calltoaction:before {
	content: "";
	width: 0;
	height: 0;
	display: block;
	left: 65px;
	position: absolute;
}

.apartment-list thead .calltoaction:after {
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 10px solid #383225;
	bottom: -13px;
}
.apartment-list tfoot .calltoaction:before {
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #383225;
	top: -13px;
}

.apartment-list .available a {
	color: #000000;
}
.apartment-list .sold a {
	color: #737373;
}
.apartment-list .sold .availability a {
	color: #ff6600;
}
.apartment-list td,
.apartment-list th {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
}
.apartment-list td {
	background: transparent url(images/listing_cell_background.jpg) no-repeat;
	background-position: right 0px;
}
.apartment-list th {
	line-height: 16px;
	height: 47px;
	vertical-align: middle;
	padding-right: 10px;
}
.apartment-list a {
	display: block;
	height: 100%;
	width: 100%;
}
.apartment-list .building {
	width: 112px;
}
.apartment-list .floor {
	width: 85px;
}
.apartment-list .lot {
	width: 118px;
}
.apartment-list .rooms {
	width: 86px;
}
.apartment-list .area {
	width: 147px;
}
.apartment-list .availability {
	width: 145px;
}
.apartment-list .download {
	width: 167px;
}
.apartment-list .available:hover td {
	background: transparent url(images/listing_over.png) no-repeat;
}
.apartment-list .available:hover .building {
	background-position: 0 0;
}
.apartment-list .available:hover .floor {
	background-position: -112px 0;
}
.apartment-list .available:hover .lot {
	background-position: -197px 0;
}
.apartment-list .available:hover .rooms {
	background-position: -315px 0;
}
.apartment-list .available:hover .area {
	background-position: -401px 0;
}
.apartment-list .available:hover .availability {
	background-position: -548px 0;
}
.apartment-list .available:hover .download {
	background-image: none;
}
.apartment-list .available:hover a:hover {
	text-decoration: none;
}

.floor-tab .floor {
	position: relative;
	height: 600px;
}
.floor-tab #floor_1_2 {
	position: relative;
	height: 640px;
}
.floor-tab #floor_2_1 {
	position: relative;
	height: 640px;
}
#tab-chooser-building {
	width: 260px;
}
#tab-chooser-building .floor-name {
	text-transform: none;
}

/*EXTRA */

.pdf_popup {
	width: 300px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 18px;
}

.pdf_popup .popup_heading {
	color: #063;
	font-size: 18px;
	line-height:22px;
	margin-bottom: 10px;
}
.pdf_popup .title_group {
	margin-bottom: 8px;
}

.pdf_popup input[type="radio"] {
	padding-left: 10px;
}
.pdf_popup select,
.pdf_popup input[type="text"] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:12px;
	padding: 2px 5px;
	margin: 7px 0;
}

.pdf_popup input[type="text"].invalid {
	border: 1px solid #900;
}

.pdf_popup input[type="text"]#pdf_postcode {
	width: 30%;
}

.pdf_popup input[type="text"]#pdf_city {
	width: 68%;
	float: right;
}

.pdf_popup .caption {
	clear: both;
	margin-bottom: 10px;
}

.pdf_popup button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px 10px 0 15px;
	height: 41px;
	line-height: 41px;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	background: transparent url(images/bkg_button_OK.png) no-repeat;
	width: 64px;
	font-size: 12px;
}

.pdf_email_address{
	font-size: 14px;
	margin-bottom: 10px;
}


#pdf_download_pages_2 button {
	position: relative;
	left: 158px;
	width: 109px;
	background: transparent url(images/bkg_button_send.jpg) no-repeat;
	padding-top: 0;
}

.page-template-download_summary-php .content-wrapper {
	width: 920px;
}

.user-list {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
	font-size: 14px;
	position: relative;
}
.user-list th,
.user-list td {
	padding: 5px;
}
.user-list th {
	text-transform: uppercase;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}
.user-list td {
	background: #ffffff; /* Fallback for old browsers */
}
.user-list .alt td {
	background: #eeeeee; /* Fallback for old browsers */
}
.user-list td,
.user-list .alt td {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}
/* Homepage Slider Info */
.slideshow-container-home {
  overflow: visible !important;
}
.slider-text-container {
  height: 100%;
  position: absolute;
  right: -14px;
  top: 0;
  width: 100%;
  z-index: 100000;
}
.slider-text-sub-container {
	height:67px;
	z-index: 100001;
	position: absolute;
	  right: 0;
	  top: 0;
	  width: 100%;
	  margin-top: 30px;
}
.slider-text-left {
	margin:6px 0 0 0;
	z-index: 100002;
	position: absolute;
	  right: 14px;
	  top: 0;
	  height: 61px;
	  overflow: hidden;
	  min-height: 61px;
	  background: #d7b995;
}
	.slider-text-content {
	  color: #fff;
	  font-size: 21px;
	  padding:10px 15px;
	  z-index: 100003;
	background: #d7b995;
	text-transform:uppercase;
	font-family: "Rokkitt",serif;
    line-height: 23px;
    text-align: right;
    letter-spacing: 1px;
	}
.slider-text-right {
	background: rgba(0, 0, 0, 0) url("images/DDP_banner_dispo.png") no-repeat scroll right top;
	width:14px;
	height:67px;
	z-index: 100002;
	position: absolute;
	  right: 0;
	  top: 0;
}
/*
.slider-text-img {
  
  min-height: 200px;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100002;
}
*/